{% extends 'base_table.html.twig' %}

{% block title %}Sorties de Matériels{% endblock %}

{% block breadcrumb %}MARQUES{% endblock %}
{% block  breadcrumb_item %}Gestion des Sorties de Matériels{% endblock %}
{% block  breadcrumb_t %} Liste des sorties de Matériels{% endblock %}
{% block table_titre %}Liste des sorties de Matériels {% endblock %}
 {% block btntitle %}Ajouter une sortie de Matériels{% endblock %}
{% block btnpath %}{{ path('sortie_materiel_create') }}{% endblock %}
{% block otherbtn %}
    <a href="{{ path('sorties_historique') }}" class="btn btn-danger">Historique</a>

{% endblock %}
{% block tableContent %}
    <thead>
    <tr>
        {#<th >N°</th>#}
        <th>Matériel</th>
        <th>Type</th>
        <th>Marque</th>
        <th>Date de Sortie</th>
        <th>Statut</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% set hasActive = false %}
    {% for sortie in pagination %}
        {% if sortie.dateRetour is null %}
            {% set hasActive = true %}
            <tr>
                {#<td class="align-middle text-center text-xs font-weight-bold">{{ loop.index }}</td>#}
                <td >
                    {{ sortie.materiel.marque.libelle ?: 'N/A' }} - {{ sortie.materiel.immatriculation ?: 'N/A' }}
                </td>
                <td>{{ sortie.materiel.type.libelle ?? 'Non Défini' }}</td>
                <td >{{ sortie.materiel.marque.libelle ?? 'Non Défini' }}</td>
                <td >{{ sortie.dateSortie|date('d-m-Y') }}</td>
                <td>
                    <span class="badge bg-danger">En Sortie</span>
                </td>
                <td >
                    <a href="{{ path('sorties_retour', {'id': sortie.id}) }}" class="btn btn-success btn-sm">Retourner</a>
                </td>
            </tr>
        {% endif %}
    {% endfor %}

    {% if not hasActive %}
        <tr>
            <td colspan="7" class="text-center text-secondary">Aucun matériel en sortie actuellement.</td>
        </tr>
    {% endif %}
    </tbody>

{#    <div class="row">#}
{#        <div class="col-12">#}
{#           #}

{#            <div class="card my-4">#}
{#                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">#}
{#                    <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">#}
{#                        <h6 class="text-white text-capitalize ps-3">Liste des Sorties Actuelles</h6>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card-body px-0 pb-2">#}
{#                    <div class="table-responsive p-0">#}
{#                        <table class="table align-items-center mb-0">#}
{#                            <thead>#}
{#                                <tr>#}
{#                                    #}{#<th >N°</th>#}
{#                                    <th ">Matériel</th>#}
{#                                    <th ">Type</th>#}
{#                                    <th ">Marque</th>#}
{#                                    <th >Date de Sortie</th>#}
{#                                    <th >Statut</th>#}
{#                                    <th >Actions</th>#}
{#                                </tr>#}
{#                            </thead>#}
{#                            <tbody>#}
{#                                {% set hasActive = false %}#}
{#                                {% for sortie in pagination %}#}
{#                                    {% if sortie.dateRetour is null %}#}
{#                                        {% set hasActive = true %}#}
{#                                        <tr>#}
{#                                            #}{#<td class="align-middle text-center text-xs font-weight-bold">{{ loop.index }}</td>#}
{#                                            <td class="align-middle text-xs font-weight-bold">#}
{#                                                {{ sortie.materiel.marque.libelle ?: 'N/A' }} - {{ sortie.materiel.immatriculation ?: 'N/A' }}#}
{#                                            </td>#}
{#                                            <td class="align-middle text-xs font-weight-bold">{{ sortie.materiel.type.libelle ?? 'Non Défini' }}</td>#}
{#                                            <td class="align-middle text-xs font-weight-bold">{{ sortie.materiel.marque.libelle ?? 'Non Défini' }}</td>#}
{#                                            <td class="align-middle text-center text-xs font-weight-bold">{{ sortie.dateSortie|date('d-m-Y') }}</td>#}
{#                                            <td class="align-middle text-center">#}
{#                                                <span class="badge bg-danger">En Sortie</span>#}
{#                                            </td>#}
{#                                            <td class="align-middle text-center">#}
{#                                                <a href="{{ path('sorties_retour', {'id': sortie.id}) }}" class="btn btn-success btn-sm">Retourner</a>#}
{#                                            </td>#}
{#                                        </tr>#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}

{#                                {% if not hasActive %}#}
{#                                    <tr>#}
{#                                        <td colspan="7" class="text-center text-secondary">Aucun matériel en sortie actuellement.</td>#}
{#                                    </tr>#}
{#                                {% endif %}#}
{#                            </tbody>#}
{#                        </table>#}

{#                        #}{# Pagination #}
{#                        {% if pagination.getTotalItemCount() > 10 %}#}
{#                            <nav aria-label="Page navigation example">#}
{#                                <ul class="pagination justify-content-center mt-3">#}
{#                                    {% if pagination.currentPageNumber > 1 %}#}
{#                                        <li class="page-item">#}
{#                                            <a class="page-link" href="{{ path('sortie_materiels_index', {'page': pagination.currentPageNumber - 1}) }}">#}
{#                                                <span class="material-symbols-rounded">keyboard_arrow_left</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                    {% endif %}#}

{#                                    {% for page in 1..pagination.pageCount %}#}
{#                                        <li class="page-item {% if page == pagination.currentPageNumber %}active{% endif %}">#}
{#                                            <a class="page-link" href="{{ path('sortie_materiels_index', {'page': page}) }}">{{ page }}</a>#}
{#                                        </li>#}
{#                                    {% endfor %}#}

{#                                    {% if pagination.currentPageNumber < pagination.pageCount %}#}
{#                                        <li class="page-item">#}
{#                                            <a class="page-link" href="{{ path('sortie_materiels_index', {'page': pagination.currentPageNumber + 1}) }}">#}
{#                                                <span class="material-symbols-rounded">keyboard_arrow_right</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                    {% endif %}#}
{#                                </ul>#}
{#                            </nav>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


{% endblock %}
