<!DOCTYPE html>
<html lang="en">
<head>
    {# head #}
    {% include "partials_cuba/head.html.twig" %}

    {# css  #}
    {% include "partials_cuba/css.html.twig" %}

    {% block css %} {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ asset('cuba/assets/css/vendors/bootstrap.css') }}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{{ asset('cuba/assets/css/style.css') }}">
    <link id="color" rel="stylesheet" href="{{ asset('cuba/assets/css/color-1.css" media="screen') }}">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{{ asset('cuba/assets/css/responsive.css') }}">
</head>
<body>

{% block body %}{% endblock %}

<script src="{{ asset('cuba/assets/js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ asset('cuba/assets/js/bootstrap/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('cuba/assets/js/icons/feather-icon/feather.min.js') }}"></script>
<script src="{{ asset('cuba/assets/js/icons/feather-icon/feather-icon.js') }}"></script>
<script src="{{ asset('cuba/assets/js/config.js') }}"></script>
<script src="{{ asset('cuba/assets/js/script.js') }}"></script>

{% block script %} {% endblock %}

</div>

</body>
</html>
