{% extends 'base.html.twig' %}

{% block title %}Départ d'un Employé{% endblock %}

{% block breadcrumb %}EMPLOYÉS > DÉPART{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h4>Déclarer le Départ d'un Employé</h4>
            <div class="card my-4">
                <div class="card-body">
                    {{ form_start(form) }}

                    <div class="input-group input-group-static mb-4">
                        {{ form_label(form.employe, 'Employé', { 'label_attr': {'class': 'ms-0'} }) }}
                        {{ form_widget(form.employe, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(form.employe) }}
                    </div>
                    
                    <div class="input-group input-group-static mb-4">
                        {{ form_label(form.dateDepart, 'Date de Départ', { 'label_attr': {'class': 'ms-0'} }) }}
                        {{ form_widget(form.dateDepart, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(form.dateDepart) }}
                    </div>

                    <div class="input-group input-group-static mb-4">
                        {{ form_label(form.motif, 'Raison du Départ', { 'label_attr': {'class': 'ms-0'} }) }}
                        {{ form_widget(form.motif, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(form.motif) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <a href="{{ path('depart_employe_index') }}" class="btn btn-secondary">Annuler</a>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
