{% extends 'base.html.twig' %}

{% block title %}Modifier Entreprise{% endblock %}

{% block breadcrumb %}ENTREPRISE > MODIFIER{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h4>Modifier l'Entreprise</h4>
            <div class="card my-4">
                <div class="card-body">
                    {{ form_start(form) }}

                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.nom, 'Nom de l\'Entreprise', { 'label_attr': { 'class': 'ms-0' } }) }}
                            {{ form_widget(form.nom, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.nom) }}
                        </div>

                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.adresse, 'Adresse', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.adresse, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.adresse) }}
                        </div>

                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.telephone, 'Numéro de Téléphone', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.telephone, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.telephone) }}
                        </div>

                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.email, 'Email', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.ifu, 'IFU', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.ifu, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.ifu) }}
                        </div>

                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.siteWeb, 'Site Web', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.siteWeb, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.siteWeb) }}
                        </div>

                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.gerant, 'Nom du Gérant\(e\)', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.gerant, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.gerant) }}
                        </div>

                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.kilometrage, 'Kilometrage à faire \(Avant la prochaine Vidange\)', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.kilometrage, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.kilometrage) }}
                        </div>
                        
                        <!-- Délais de rappel -->
                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.delaiAssurance, 'Délai de rappel pour Assurance (en jours)', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.delaiAssurance, { 'attr': { 'class': 'form-control', 'min': 1 } }) }}
                            {{ form_errors(form.delaiAssurance) }}
                        </div>

                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.delaiTVM, 'Délai de rappel pour TVM (en jours)', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.delaiTVM, { 'attr': { 'class': 'form-control', 'min': 1 } }) }}
                            {{ form_errors(form.delaiTVM) }}
                        </div>

                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.delaiVisiteTechnique, 'Délai de rappel pour Visite Technique (en jours)', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.delaiVisiteTechnique, { 'attr': { 'class': 'form-control', 'min': 1 } }) }}
                            {{ form_errors(form.delaiVisiteTechnique) }}
                        </div>
                        
                        <div class="input-group input-group-static mb-4">
                            {{ form_label(form.logo, 'Logo de l\'entreprise', { 'label_attr': {'class': 'ms-0'} }) }}
                            {{ form_widget(form.logo, { 'attr': { 'class': 'form-control' } }) }}
                            {{ form_errors(form.logo) }}
                        </div>

                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <a href="{{ path('entreprise_index') }}" class="btn btn-secondary">Annuler</a>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}