{% extends 'baseC.html.twig' %}
{% block title %}Types de materiels{% endblock %}

{% block breadcrumb %}Materiels{% endblock %}
{% block  breadcrumb_item %}Type de materiel{% endblock %}
{% block  breadcrumb_t %} Modifier un type Matériel{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <div class="card list-with-icon">
                <div class="card-header border-b-5 border-l-primary">
                    <h6>Détails du Type de Matériel</h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive table-card mb-4">
                        <table class="table  table-centered align-middle table-nowrap mb-0">
                            <thead class="text-muted table-light">
                            <tbody>
                            <tr>
                                <th> Intitule :</th>
                                <td> {{ typeMateriel.libelle }} </td>
                            </tr>
                            <tr>
                                <th> Nombre de matériels associés :</th>
                                <td> {{ typeMateriel.materiels|length }} </td>
                            </tr>
                            <tr>
                                <th colspan="2" class="text-center"> Matériels associés :
                                </th>

                            </tr>
                            <tr>
                                <th colspan="2">
                                    {% if typeMateriel.materiels is not empty %}
                                        <ul class="list-group list-group-flush">
                                            {% for  materiel in typeMateriel.materiels %}
                                                <li class="list-group-item">
                                                    <i class="icofont icofont-arrow-right"></i>
                                                    {{ materiel.libelle }} - {{ materiel.immatriculation }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <p>Aucun matériel associé à ce type.</p>
                                    {% endif %}
                                </th>

                            </tr>
                            </tbody>
                        </table><!-- end table -->

                    </div>
                    <div class="col-12">
                        <div class="common-flex d-grid gap-2 d-md-flex justify-content-md-end buttons-box">
                            <a href="{{ path('types_materiels_edit', { 'id': typeMateriel.id }) }}" class="btn btn-outline-success
                            btn-sm b-r-6">
                                <i class="fa-solid fa-check"></i>
                                Modifier
                            </a>
                            <form action="{{ path('types_materiels_delete', {'id': typeMateriel.id}) }}" method="POST" class="d-inline">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeMateriel.id) }}">
                                <button type="submit" class="btn btn-outline-danger" onclick="return confirm
                                ('Êtes-vous sûr ' +
                                 'de vouloir désactiver ce type ?');">
                                    <i class="fa-solid fa-warning"></i>
                                    Désactiver</button>
                            </form>


                            <a href="{{ path('types_materiels_index') }}" class="btn btn-outline-dark b-r-8">
                                <i class="fa-solid fa-arrow-left"></i>
                                Retour</a>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
{% endblock %}
