{% extends 'base.html.twig' %}

{% block title %}Ajouter un Type Opération{% endblock %}

{% block breadcrumb %}TYPES OPÉRATIONS > AJOUTER{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12">
        <h4>Ajouter un Nouveau Type Opération</h4>
        <div class="card my-4">
            <div class="card-body">
                {{ form_start(form) }}

                <div class="input-group input-group-outline mb-4">
                    {{ form_label(form.libelle, 'Nom du Type d\'Opération', { 'label_attr': { 'class': 'form-label' } }) }}
                    {{ form_widget(form.libelle, { 'attr': { 'class': 'form-control' } }) }}
                    {{ form_errors(form.libelle) }}
                </div>

                <button type="submit" class="btn btn-primary">Enregistrer</button>
                <a href="{{ path('type_assurance_index') }}" class="btn btn-secondary">Annuler</a>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
