{% extends 'base_table.html.twig' %}

{% block title %}Postes{% endblock %}
{% block breadcrumb %}POSTES{% endblock %}
{% block  breadcrumb_item %}Gestion des postes{% endblock %}
{% block  breadcrumb_t %} Liste des postes{% endblock %}
{% block table_titre %}Liste des postes {% endblock %}
 {% block btntitle %}Ajouter un Poste{% endblock %}
{% block btnpath %}{{ path('postes_create') }}{% endblock %}
{% block tableContent %}
    <thead>
    <tr>
        <th >N°</th>
        <th>Libellé</th>
        <th >Employés associés
        </th>
        <th >Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for poste in pagination %}
        <tr>
            <td>{{ loop.index }}</td>
            <td >{{ poste.libelle ?: 'N/A' }}</td>
            <td>
                <span class="badge bg-gradient-success">{{ poste.employe|length }}</span>
            </td>
            <td class="align-middle text-center">
                {# <a href="{{ path('postes_show', {id: poste.id}) }}" class="btn btn-info btn-sm" aria-label="Voir le poste">Voir</a> #}
                <div class="common-align gap-2 justify-content-start">

                    <a class="btn btn-primary btn-sm" href="{{ path('postes_show', {id: poste.id}) }}"
                       title="Voir le poste">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a class="btn btn-success btn-sm" title="Modifier" href="{{ path('postes_edit', {id: poste.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <form action="{{ path('postes_delete', {id: poste.id}) }}" method="POST" class="d-inline">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste.id) }}">
                        <a class="btn btn-danger btn-sm" type="submit"
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce poste ?');"
                           title="Supprimer le poste">

                            <i class="fa fa-trash"></i>


                        </a>
                    </form>


                </div>

            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" class="text-center">Aucun poste trouvé.</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
{% block pagination %}
    {% if pagination.getTotalItemCount() > 10 %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if pagination.currentPageNumber > 1 %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path('employes_index', {'page': pagination.currentPageNumber - 1}) }}">
                            <span class="material-symbols-rounded">keyboard_arrow_left</span>
                        </a>
                    </li>
                {% endif %}

                {% for page in 1..pagination.pageCount %}
                    <li class="page-item {% if page == pagination.currentPageNumber %}active{% endif %}">
                        <a class="page-link" href="{{ path('employes_index', {'page': page}) }}">{{ page }}</a>
                    </li>
                {% endfor %}

                {% if pagination.currentPageNumber < pagination.pageCount %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path('employes_index', {'page': pagination.currentPageNumber + 1}) }}">
                            <span class="material-symbols-rounded">keyboard_arrow_right</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
{# <thead> #}
{#    <div class="row"> #}
{#        <div class="col-12"> #}
{#            <div class="d-flex justify-content-between align-items-center mb-4"> #}
{#                <h4>Gestion des Postes</h4> #}
{#                <a href="{{ path('postes_create') }}" class="btn btn-primary">Ajouter un Poste</a> #}
{#            </div> #}

{#            <div class="card my-4"> #}
{#                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2"> #}
{#                    <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3"> #}
{#                        <h6 class="text-white text-capitalize ps-3">Liste des Postes</h6> #}
{#                    </div> #}
{#                </div> #}
{#                <div class="card-body px-0 pb-2"> #}
{#                    <div class="table-responsive p-0"> #}
{#                        <table class="table align-items-center mb-0"> #}
{#                            <thead> #}
{#                                <tr> #}
{#                                    <th >N°</th> #}
{#                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Libellé</th> #}
{#                                    <th >Employés associés</th> #}
{#                                    <th >Actions</th> #}
{#                                </tr> #}
{#                            </thead> #}
{#                            <tbody> #}
{#                                {% for poste in pagination %} #}
{#                                    <tr> #}
{#                                        <td>{{ loop.index }}</td> #}
{#                                        <td >{{ poste.libelle ?: 'N/A' }}</td> #}
{#                                        <td> #}
{#                                            <span class="badge bg-gradient-success">{{ poste.employe|length }}</span> #}
{#                                        </td> #}
{#                                        <td class="align-middle text-center"> #}
{#                                            #}{# <a href="{{ path('postes_show', {id: poste.id}) }}" class="btn btn-info btn-sm" aria-label="Voir le poste">Voir</a> #}
{#                                            <a href="{{ path('postes_edit', {id: poste.id}) }}" class="btn btn-warning btn-sm" aria-label="Modifier le poste">Modifier</a> #}
{#                                            <form action="{{ path('postes_delete', {id: poste.id}) }}" method="POST" class="d-inline"> #}
{#                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste.id) }}"> #}
{#                                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce poste ?');" aria-label="Supprimer le poste">Supprimer</button> #}
{#                                            </form> #}
{#                                        </td> #}
{#                                    </tr> #}
{#                                {% else %} #}
{#                                    <tr> #}
{#                                        <td colspan="4" class="text-center">Aucun poste trouvé.</td> #}
{#                                    </tr> #}
{#                                {% endfor %} #}
{#                            </tbody> #}
{#                        </table> #}
{#                                                                                                #}
{#                        <!-- Pagination --> #}
{#                      #}
{#                    </div> #}
{#                </div> #}
{#            </div> #}
{#        </div> #}
{#    </div> #}
{# {% endblock %} #}
