{% extends 'baseC.html.twig' %}

{% block title %}Details Postes{% endblock %}
{% block breadcrumb %}POSTES{% endblock %}
{% block  breadcrumb_item %}Gestion des postes{% endblock %}
{% block  breadcrumb_t %} Employés affectés au  postes{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-success">
                <div class="card-header">
                    <h3 class="card-title ">
                        Employés affectés au poste : {{ poste.libelle }}
                    </h3>
                </div>
                <div class="card-body table-responsive">
                    <table
                            id="example1"
                            class="table table-bordered table-striped text-nowrap table-valign-middle">
                        <thead>
                        <tr>
                            <th> Employés</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for employe in poste.employe %}
                            <tr>
                                <td>{{ employe.nom }} {{ employe.prenom }}</td>
                                <td class="align-middle text-center">
                                    <div class="common-align gap-2 justify-content-start">
                                        <a class="btn btn-primary btn-sm" href="{{ path('employes_show', {'id': employe.id}) }}"
                                           title="Plus de details">
                                            <i class="fa fa-eye"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="text-end">


                        <a href="{{ path('postes_edit', {'id': poste.id}) }}" class="btn btn-warning">Modifier</a>

                        <form action="{{ path('postes_delete', {'id': poste.id}) }}" method="POST" class="d-inline">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ poste.id) }}">
                            <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('Êtes-vous sûr de vouloir désactiver ce poste ?');">
                                Désactiver
                            </button>
                        </form>

                        <a href="{{ path('postes_index') }}" class="btn btn-secondary">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
