{% extends 'base.html.twig' %}

{% block title %}Détails d'un Matériel{% endblock %}

{% block breadcrumb %}MATERIELS > DETAILS{% endblock %}

{% block content %}
    
    <div class="container-fluid py-4">
        <div class="page-header min-height-300 border-radius-xl mt-4" 
            style="background-image: url('{{ asset('assets/img/material-background.jpg') }}');">
            <span class="mask bg-gradient-dark opacity-6"></span>
        </div>

        <div class="card card-body mx-3 mx-md-4 mt-n6">
            <div class="row gx-4 mb-2">
                <div class="col-auto">
                    <div class="avatar avatar-xl position-relative">
                        {% if materiel.imageFilename  %}
                            <img src="{{ asset('uploads/materiels/' ~ employe.imageFilename ) }}" class="w-100 border-radius-lg shadow-sm" alt="Photo du matériel">
                        {% else %}
                            <img src="{{ asset('assets/img/car.png') }}" class="w-100 border-radius-lg shadow-sm" alt="Photo du matériel">
                        {% endif %}
                    </div>
                </div>
                <div class="col-auto my-auto">
                    <div class="h-100">
                        <h5 class="mb-1">{{ materiel.marque.libelle }} - {{ materiel.immatriculation | default('Immatriculation Non attribuée') }}</h5>
                        <p class="mb-0 font-weight-normal text-sm">Modèle : {{ materiel.modele | default('Non spécifié') }}</p>
                    </div>
                </div>
                <div class="col-auto ms-auto d-flex align-items-center">
                    <a href="{{ path('materiels_index') }}" class="btn btn-outline-secondary">
                        <i class="material-symbols-rounded">arrow_back</i> Retour
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-xl-6">
                    <div class="card card-plain h-100">
                        <div class="card-header pb-0 p-3">
                            <h6 class="mb-0">Caractéristiques du Matériel</h6>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group">
                                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Numéro de Série :</strong> &nbsp; {{ materiel.numeroSerie | default('Non spécifié') }}</li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Type :</strong> &nbsp; {{ materiel.type.libelle | default('Non spécifié') }}</li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Statut :</strong> &nbsp; 
                                    {% if materiel.statut == 0 %}
                                        <span class="badge bg-gradient-secondary">Non Affecté (NA)</span>
                                    {% elseif materiel.statut == 1 %}
                                        <span class="badge bg-gradient-info">Affecté (A)</span>
                                    {% elseif materiel.statut == 3 %}
                                        <span class="badge bg-gradient-warning">NA / En Maintenance </span>
                                    {% elseif materiel.statut == 2 %}
                                        <span class="badge bg-gradient-success">A / En Maintenance </span>
                                    {% endif %}
                                </li>
                                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Date d'Acquisition :</strong> &nbsp; {{ materiel.dateAcquisition ? materiel.dateAcquisition|date('d/m/Y') : 'Non spécifié' }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-6">
                    <div class="card card-plain h-100">
                        <div class="card-header pb-0 p-3">
                            <h6 class="mb-0">Employé qui utilise ce matériel</h6>
                        </div>
                        <div class="card-body p-3">
                            <ul class="list-group">
                                {% for affectation in materiel.affectations %}
                                    <li class="list-group-item border-0 ps-0 text-sm">
                                        <strong class="text-dark">{{ affectation.employe.nom }} {{ affectation.employe.prenom }}</strong> - {{ affectation.dateAffectation | date('d/m/Y') }}
                                    </li>
                                {% else %}
                                    <li class="list-group-item border-0 ps-0 text-sm">Aucun employé affecté</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}