{% extends 'baseC.html.twig' %}
{% block css %}

    <link rel="stylesheet"
          href="{{ asset('adminlte/plugins/datatables/datatables.css') }}">

    <!-- DataTables -->

{% endblock %}
{% block title %}{% endblock %}

{#{% block breadcrumb %}{% endblock %}#}
{#{% block  breadcrumb_item %}{% endblock %}#}
{#{% block  breadcrumb_t %} {% endblock %}#}
{% block content %}
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    {#                        <h1>{% block titles %} Departement{% endblock %}</h1> #}
                </div>
                <div class="col-sm-12">

                    <a href="{% block btnpath %}{% endblock %}" class="btn btn-outline-primary float-lg-end btnapath">
                        <i class="fa fa-plus"></i>
                        {% block btntitle %}

                        {% endblock %}
                    </a>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

        <div class="row">

            <div class="col-sm-12">
                <div class="card card-primary card-success">
                    <div class="card-header">
                        <h3 class="card-title ">
                            {% block table_titre %}

                            {% endblock %}
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        {% block filtre %}

                        {% endblock %}
                        <table
                                id="example1"
                                class="table table-bordered table-striped text-nowrap table-valign-middle">
                            {% block tableContent %}
                            {% endblock %}
                        </table>


                    </div>
                    <!-- /.card-body -->
                </div>

            </div>
        </div>

{#    <div class="row">#}
{#        <div class="col-12">#}
{#            <h4>Ajouter une Entreprise</h4>#}
{#            <div class="card my-4">#}
{#                <div class="card-body">#}
{#                    {{ form_start(form) }}#}

{#                        <div class="input-group input-group-outline mb-4">#}
{#                            {{ form_label(form.nom, 'Nom de l\'Entreprise', { 'label_attr': { 'class': 'form-label' } }) }}#}
{#                            {{ form_widget(form.nom, { 'attr': { 'class': 'form-control' } }) }}#}
{#                            {{ form_errors(form.nom) }}#}
{#                        </div>#}

{#                        <div class="input-group input-group-outline mb-4">#}
{#                            {{ form_label(form.adresse, 'Adresse', { 'label_attr': {'class': 'form-label'} }) }}#}
{#                            {{ form_widget(form.adresse, { 'attr': { 'class': 'form-control' } }) }}#}
{#                            {{ form_errors(form.adresse) }}#}
{#                        </div>#}

{#                        <div class="input-group input-group-outline mb-4">#}
{#                            {{ form_label(form.telephone, 'Numéro de Téléphone', { 'label_attr': {'class': 'form-label'} }) }}#}
{#                            {{ form_widget(form.telephone, { 'attr': { 'class': 'form-control' } }) }}#}
{#                            {{ form_errors(form.telephone) }}#}
{#                        </div>#}

{#                        <div class="input-group input-group-outline mb-4">#}
{#                            {{ form_label(form.email, 'Email', { 'label_attr': {'class': 'form-label'} }) }}#}
{#                            {{ form_widget(form.email, { 'attr': { 'class': 'form-control' } }) }}#}
{#                            {{ form_errors(form.email) }}#}
{#                        </div>#}

{#                        <div class="input-group input-group-outline mb-4">#}
{#                            {{ form_label(form.ifu, 'IFU', { 'label_attr': {'class': 'form-label'} }) }}#}
{#                            {{ form_widget(form.ifu, { 'attr': { 'class': 'form-control' } }) }}#}
{#                            {{ form_errors(form.ifu) }}#}
{#                        </div>#}

{#                        <div class="input-group input-group-outline mb-4">#}
{#                            {{ form_label(form.siteWeb, 'Site Web', { 'label_attr': {'class': 'form-label'} }) }}#}
{#                            {{ form_widget(form.siteWeb, { 'attr': { 'class': 'form-control' } }) }}#}
{#                            {{ form_errors(form.siteWeb) }}#}
{#                        </div>#}

{#                        <div class="input-group input-group-outline mb-4">#}
{#                            {{ form_label(form.gerant, 'Nom du Gérant\(e\)', { 'label_attr': {'class': 'form-label'} }) }}#}
{#                            {{ form_widget(form.gerant, { 'attr': { 'class': 'form-control' } }) }}#}
{#                            {{ form_errors(form.gerant) }}#}
{#                        </div>#}

{#                        <div class="input-group input-group-outline mb-4">#}
{#                            {{ form_label(form.kilometrage, 'Kilometrage à faire \(Avant la prochaine Vidange\)', { 'label_attr': {'class': 'form-label'} }) }}#}
{#                            {{ form_widget(form.kilometrage, { 'attr': { 'class': 'form-control' } }) }}#}
{#                            {{ form_errors(form.kilometrage) }}#}
{#                        </div>#}

{#                        <button type="submit" class="btn btn-primary">Enregistrer</button>#}
{#                        <a href="{{ path('dashboard') }}" class="btn btn-secondary">Annuler</a>#}

{#                    {{ form_end(form) }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
{% block javascript %}
<!-- DataTables  & Plugins -->
<script src="{{ asset('adminlte/plugins/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('adminlte/plugins/datatables/datatables.js') }}"></script>

	<script>

    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
             language: {
        url: '//cdn.datatables.net/plug-ins/2.0.8/i18n/fr-FR.json',
    },
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });

	</script>

{% endblock %}
