{% extends 'base.html.twig' %}

{% block title %}Ajouter une Opération{% endblock %}

{% block breadcrumb %}OPÉRATIONS > AJOUTER{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <h4>Ajouter une Opération</h4>
            <div class="card my-4">
                <div class="card-body">
                    {{ form_start(form) }}
                    
                    <div class="input-group input-group-static my-3">
                        {{ form_label(form.vehicule, 'Véhicule', { 'label_attr': { 'class': 'ms-0' } }) }}
                        {{ form_widget(form.vehicule, { 'attr': { 'class': 'form-control select2' } }) }}
                        {{ form_errors(form.vehicule) }}
                    </div>

                    <div class="input-group input-group-static my-3">
                        {{ form_label(form.typeAssurance, 'Type d\'Opération', { 'label_attr': { 'class': 'ms-0' } }) }}
                        {{ form_widget(form.typeAssurance, { 'attr': { 'class': 'form-control select2' } }) }}
                        {{ form_errors(form.typeAssurance) }}
                    </div>

                    <div class="input-group input-group-static my-3">
                        {{ form_label(form.dateDebut, 'Date de début', { 'label_attr': { 'class': 'ms-0' } }) }}
                        {{ form_widget(form.dateDebut, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(form.dateDebut) }}
                    </div>

                    <div class="input-group input-group-static my-3">
                        {{ form_label(form.dateFin, 'Date de fin', { 'label_attr': { 'class': 'ms-0' } }) }}
                        {{ form_widget(form.dateFin, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(form.dateFin) }}
                    </div>

                    <div class="input-group input-group-static my-3">
                        {{ form_label(form.montantPaye, 'Montant payé (FCFA)', { 'label_attr': { 'class': 'ms-0' } }) }}
                        {{ form_widget(form.montantPaye, { 'attr': { 'class': 'form-control' } }) }}
                        {{ form_errors(form.montantPaye) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <a href="{{ path('assurances_index') }}" class="btn btn-secondary">Annuler</a>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
