{% extends 'base_formulaire.html.twig' %}
{% block title %}ASSURANCES{% endblock %}
{% block breadcrumb %}ASSURANCES{% endblock %}
{% block  breadcrumb_item %} ASSURANCES{% endblock %}
{% block  breadcrumb_t %} Ajouter{% endblock %}
{#{% block title %}Ajouter une Assurance{% endblock %}#}
{% block form_titre %}Ajouter une Assurance{% endblock %}
{% block formContent %}
    {{ form_start(form) }}
{#    {{ form_widget(form) }}#}

{#    {{ form_start(form) }}#}

    <div class="row">
{#        {{ form_label(form.materiel, 'Matériel', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#        {{ form_widget(form.materiel, { 'attr': { 'class': 'form-control select2' } }) }}#}
{#        {{ form_errors(form.materiel) }}#}
        <div class="col-md-12">
        {{ form_row(form.materiel) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.typeAssurance) }}
        </div>
{#        {{ form_label(form.typeAssurance, 'Type d\'Assurance', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#        {{ form_widget(form.typeAssurance, { 'attr': { 'class': 'form-control' } }) }}#}
{#        {{ form_errors(form.typeAssurance) }}#}
    </div>

    <div id="assurance-fields" class="dynamic-fields">
        <!-- Champs dynamiques basés sur le type d'assurance -->
        <div id="dateAssuranceFields" class="date-fields" style="display:none;">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.dateAssuranceDebut) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.dateAssuranceFin) }}
                </div>
{#                {{ form_label(form.dateAssuranceDebut, 'Date Début Assurance', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                {{ form_widget(form.dateAssuranceDebut, { 'attr': { 'class': 'form-control' } }) }}#}
{#               #}
            </div>

{#            <div class=" row">#}
{#                {{ form_label(form.dateAssuranceFin, 'Date Fin Assurance', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                {{ form_widget(form.dateAssuranceFin, { 'attr': { 'class': 'form-control' } }) }}#}
{#                {{ form_errors(form.dateAssuranceFin) }}#}
{#            </div>#}
        </div>

        <div id="dateVisiteTechniqueFields" class="date-fields" style="display:none;">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.dateVisiteTechniqueDebut) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.dateVisiteTechniqueFin) }}
                </div>
{#                {{ form_label(form.dateVisiteTechniqueDebut, 'Date Début Visite Technique', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                {{ form_widget(form.dateVisiteTechniqueDebut, { 'attr': { 'class': 'form-control' } }) }}#}
{#                {{ form_errors(form.dateVisiteTechniqueDebut) }}#}
            </div>

{#            <div class="input-group input-group-static my-3">#}
{#                {{ form_label(form.dateVisiteTechniqueFin, 'Date Fin Visite Technique', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                {{ form_widget(form.dateVisiteTechniqueFin, { 'attr': { 'class': 'form-control' } }) }}#}
{#                {{ form_errors(form.dateVisiteTechniqueFin) }}#}
{#            </div>#}
        </div>

        <div id="dateTVMFields" class="date-fields" style="display:none;">
            <div class="row">
                <div class="col-md-6">  {{ form_row(form.dateTVMDebut) }}
                </div>
                <div class="col-md-6">  {{ form_row(form.dateTVMFin) }}</div>
{#                {{ form_label(form.dateTVMDebut, 'Date Début TVM', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                {{ form_widget(form.dateTVMDebut, { 'attr': { 'class': 'form-control' } }) }}#}
{#                {{ form_errors(form.dateTVMDebut) }}#}
            </div>

{#            <div class="input-group input-group-static my-3">#}
{#                {{ form_label(form.dateTVMFin, 'Date Fin TVM', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                {{ form_widget(form.dateTVMFin, { 'attr': { 'class': 'form-control' } }) }}#}
{#                {{ form_errors(form.dateTVMFin) }}#}
{#            </div>#}
        </div>
    </div>

{#    <button type="submit" class="btn btn-primary">Enregistrer</button>#}
{#    <a href="{{ path('assurances_index') }}" class="btn btn-secondary">Annuler</a>#}

{#    {{ form_end(form) }}#}
    <div class="col-12">
        <div class="common-flex justify-content-end">
            <button class="btn btn-outline-success btn-sm b-r-6">
                <i class="fa-solid fa-save"></i>
                Enregistrer
            </button>
            <a class="btn btn-dark " href="{{ path('assurances_index') }}">Annuler</a>
        </div>
    </div>
{#    {{ form_end(form) }}#}
{#    <div class="row">#}
{#        <div class="col-12">#}
{#            <h4>Ajouter une Assurance</h4>#}
{#            <div class="card my-4">#}
{#                <div class="card-body">#}
{#                    {{ form_start(form) }}#}
{#                    #}
{#                    <div class="input-group input-group-static my-3">#}
{#                        {{ form_label(form.materiel, 'Matériel', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                        {{ form_widget(form.materiel, { 'attr': { 'class': 'form-control select2' } }) }}#}
{#                        {{ form_errors(form.materiel) }}#}
{#                    </div>#}

{#                    <div class="input-group input-group-static my-3">#}
{#                        {{ form_label(form.typeAssurance, 'Type d\'Assurance', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                        {{ form_widget(form.typeAssurance, { 'attr': { 'class': 'form-control' } }) }}#}
{#                        {{ form_errors(form.typeAssurance) }}#}
{#                    </div>#}

{#                    <div id="assurance-fields" class="dynamic-fields">#}
{#                        <!-- Champs dynamiques basés sur le type d'assurance -->#}
{#                        <div id="dateAssuranceFields" class="date-fields" style="display:none;">#}
{#                            <div class="input-group input-group-static my-3">#}
{#                                {{ form_label(form.dateAssuranceDebut, 'Date Début Assurance', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                                {{ form_widget(form.dateAssuranceDebut, { 'attr': { 'class': 'form-control' } }) }}#}
{#                                {{ form_errors(form.dateAssuranceDebut) }}#}
{#                            </div>#}

{#                            <div class="input-group input-group-static my-3">#}
{#                                {{ form_label(form.dateAssuranceFin, 'Date Fin Assurance', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                                {{ form_widget(form.dateAssuranceFin, { 'attr': { 'class': 'form-control' } }) }}#}
{#                                {{ form_errors(form.dateAssuranceFin) }}#}
{#                            </div>#}
{#                        </div>#}

{#                        <div id="dateVisiteTechniqueFields" class="date-fields" style="display:none;">#}
{#                            <div class="input-group input-group-static my-3">#}
{#                                {{ form_label(form.dateVisiteTechniqueDebut, 'Date Début Visite Technique', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                                {{ form_widget(form.dateVisiteTechniqueDebut, { 'attr': { 'class': 'form-control' } }) }}#}
{#                                {{ form_errors(form.dateVisiteTechniqueDebut) }}#}
{#                            </div>#}

{#                            <div class="input-group input-group-static my-3">#}
{#                                {{ form_label(form.dateVisiteTechniqueFin, 'Date Fin Visite Technique', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                                {{ form_widget(form.dateVisiteTechniqueFin, { 'attr': { 'class': 'form-control' } }) }}#}
{#                                {{ form_errors(form.dateVisiteTechniqueFin) }}#}
{#                            </div>#}
{#                        </div>#}

{#                        <div id="dateTVMFields" class="date-fields" style="display:none;">#}
{#                            <div class="input-group input-group-static my-3">#}
{#                                {{ form_label(form.dateTVMDebut, 'Date Début TVM', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                                {{ form_widget(form.dateTVMDebut, { 'attr': { 'class': 'form-control' } }) }}#}
{#                                {{ form_errors(form.dateTVMDebut) }}#}
{#                            </div>#}

{#                            <div class="input-group input-group-static my-3">#}
{#                                {{ form_label(form.dateTVMFin, 'Date Fin TVM', { 'label_attr': { 'class': 'ms-0' } }) }}#}
{#                                {{ form_widget(form.dateTVMFin, { 'attr': { 'class': 'form-control' } }) }}#}
{#                                {{ form_errors(form.dateTVMFin) }}#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

{#                    <button type="submit" class="btn btn-primary">Enregistrer</button>#}
{#                    <a href="{{ path('assurances_index') }}" class="btn btn-secondary">Annuler</a>#}

{#                    {{ form_end(form) }}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <script>
        // Script pour afficher/masquer les champs en fonction du type d'assurance sélectionné
        document.addEventListener("DOMContentLoaded", function() {
            var typeAssuranceField = document.querySelector("select[name='assurance[typeAssurance]']");
            var dateAssuranceFields = document.getElementById("dateAssuranceFields");
            var dateVisiteTechniqueFields = document.getElementById("dateVisiteTechniqueFields");
            var dateTVMFields = document.getElementById("dateTVMFields");

            // Fonction pour afficher les champs en fonction du type sélectionné
            function toggleFields() {
                var selectedType = typeAssuranceField.value;

                // Masquer tous les champs
                dateAssuranceFields.style.display = 'none';
                dateVisiteTechniqueFields.style.display = 'none';
                dateTVMFields.style.display = 'none';

                // Afficher les champs correspondant au type d'assurance sélectionné
                if (selectedType === 'assurance') {
                    dateAssuranceFields.style.display = 'block';
                } else if (selectedType === 'visite_technique') {
                    dateVisiteTechniqueFields.style.display = 'block';
                } else if (selectedType === 'tvm') {
                    dateTVMFields.style.display = 'block';
                }
            }

            // Exécuter la fonction au chargement de la page
            toggleFields();

            // Ajouter un écouteur d'événement pour la sélection du type d'assurance
            typeAssuranceField.addEventListener('change', toggleFields);
        });
    </script>

{% endblock %}
