{% extends 'baseC.html.twig' %}

{% block title %}Affectations{% endblock %}
{% block breadcrumb %}Affectations{% endblock %}
{% block  breadcrumb_item %} Affectations {% endblock %}
{% block  breadcrumb_t %} Détails de l'Affectation {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <div class="card list-with-icon">
                <div class="card-header border-b-5 border-l-primary">
                    <h6>Détails de l'Affectation</h6>

                </div>
                <div class="card-body">
                    <div class="table-responsive table-card mb-4">
                        <table class="table  table-centered align-middle table-nowrap mb-0">
                            <thead class="text-muted table-light">
                            <tbody>
                            <tr>
                                <th> Date d'Affectation:</th>
                                <td>{{ affectation.dateAffectation|date('d-m-Y') }} </td>
                            </tr>
                            <tr>
                                <th> Lieu d'Affectation: </th>
                                <td>  {{ affectation.materiel.lieuAffactation }} </td>
                            </tr>
                            <tr>
                                <th> Matériel: </th>
                                <td> {{ affectation.materiel.marque.libelle }} - {{ affectation.materiel.immatriculation }} </td>
                            </tr>
                            <tr>
                                <th> Employé:</th>
                                <td>
                                    {% if affectation.employe %}
                                        {{ affectation.employe.nom }} {{ affectation.employe.prenom }}
                                    {% else %}
                                        Aucun
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Société:</th>
                                <td>
                                    {% if affectation.societe %}
                                        {{ affectation.societe.nom }}
                                    {% else %}
                                        Aucune
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table><!-- end table -->

                    </div>
                    <div class="col-12">
                        <div class="common-flex d-grid gap-2 d-md-flex justify-content-md-end buttons-box">

                            <a href="{{ path('affectations_index') }}" class="btn btn-outline-dark b-r-8">
                                <i class="fa-solid fa-arrow-left"></i>
                                Retour</a>

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>

{% endblock %}

